#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}


.Newscard {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Auto, 1fr (flex), auto */
  height: 100%;
}

.card-button{
  padding: 10px;
}


.Newscard:hover{
  box-shadow: 1px 3px 20px 3px rgb(220, 220, 220) ;
}

@media (min-width:800px) {
  #container {
    width: 65%;
    position: relative;
    left: 170px;
    padding: 4px;
    
  }

  .flexBox {
    background-color: #e3f2fd;
    max-width: min-content;
    position: fixed;
    bottom: 6vh;
    padding: 15px;
    margin: 20px;
    height: 73vh;
    overflow: auto;
    border-radius: 10px ;
  }
}

@media (max-width : 800px) {
  .flexBox {
    display: none !important;
   
  }

}