#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

@media (min-width:800px) {
  #container {
    width: 65%;
    position: relative;
    left: 170px;
    padding: 4px;
    
  }

  .flexBox {
    background-color: #e3f2fd;
    max-width: min-content;
    position: fixed;
    bottom: 19vh;
    padding: 15px;
    margin: 20px;
    height: 50vh;
    overflow: auto;
  }
}

@media (max-width : 800px) {
  .verticalSection {
    display: none;
   
  }

}